body {
  font-family: "Merriweather", serif;
  height: 100vh;
  background: url("showcase.jpg") no-repeat center center / cover;
  color: #ccc;
  overflow: hidden;
}

.text-primary {
  color: rgb(129, 203, 235);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 100;
  margin: 0.4rem;
  z-index: 3;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 0.4rem;
  transition: all 0.5s ease-out;
}
a:hover {
  color: rgb(129, 203, 235);
}
.icons {
  padding-top: 1rem;
  z-index: 3;
}
.overlay {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(77, 85, 90, 0.6);
  box-shadow: inset 100px 100px 250px #2c4383;
}

/* cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0.1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0.1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
